/* App-wide styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color:#edf2f9;
}


table {
    border-collapse: collapse;
    padding: 20px;
    width: 100%;

}

.liste_kosten, .total_summe {
    padding: 30px;
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 
  0 1px 3px rgba(0, 0, 0, 0.05), /* Sehr leicht für die Kante */
  0 10px 15px -5px rgba(0, 0, 0, 0.08); /* Tieferer, weicher Schatten */
}

.functions {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
    box-shadow: 
  0 1px 3px rgba(0, 0, 0, 0.05), /* Sehr leicht für die Kante */
  0 10px 15px -5px rgba(0, 0, 0, 0.08); /* Tieferer, weicher Schatten */
}

.liste_kosten {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0.5px solid grey;
}

.total_summe {
    border-radius: 0 0 5px 5px;
}
table th {
    text-align: left;
}

table td, table th {
    border-bottom: 0.5px solid rgb(160, 160, 160);
    height: 30px;
    
}

/*Button*/
button {
    all: unset;
}

.functions {
    margin-top: 20px;
    margin-bottom: 20px;
}

.functions .btn {
    border:0.5px solid black;
    color: #1f1f1f;
    text-decoration: none;
    width: 100px;
    height: 30px;
    margin-right: 20px;
    


}

.header {
    position: sticky;
    background-color: white;
    border-bottom: 0.5px solid grey;
    height: 60px;
}
.header p {
    margin-left: 20px;
    
}

.total_summe, .betrag {
    text-align: right;
    text-decoration: 0.5px double black;
}