/* App-wide styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color:#edf2f9;
    

}
#main {
    min-height:100vh;
}

table {
    border-collapse: collapse;
    padding: 20px;
    width: 100%;

}

.liste_buchung, .total_summe, .add_form {
    padding: 30px;
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 
  0 1px 3px rgba(0, 0, 0, 0.05), /* Sehr leicht für die Kante */
  0 10px 15px -5px rgba(0, 0, 0, 0.08); /* Tieferer, weicher Schatten */
}

.functions {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
    box-shadow: 
  0 1px 3px rgba(0, 0, 0, 0.05), /* Sehr leicht für die Kante */
  0 10px 15px -5px rgba(0, 0, 0, 0.08); /* Tieferer, weicher Schatten */
  border-radius: 5px;
}

.liste_buchung {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0.5px solid grey;
}

.total_summe {
    border-radius: 0 0 5px 5px;
}
table th {
    text-align: left;
}

table td, table th {
    border-bottom: 0.5px solid rgb(160, 160, 160);
    height: 30px;
    
}

/*Button*/
button {
    all: unset;
}

.functions {
    margin-top: 20px;
    margin-bottom: 20px;
}

.functions .btn {
    border:0.5px solid black;
    color: #1f1f1f;
    text-decoration: none;
    width: 100px;
    height: 30px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;


}

/*Grundgerüst*/
.container {
    display:grid;
    grid-template-areas: 
    "header header"
    "menu content";
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
}
.container div.header {
    grid-area: header;
    border-bottom: 0.5px solid rgb(182, 180, 180);
    background-color: white;
    box-shadow: 
    0 1px 3px rgba(0, 0, 0, 0.05), /* Sehr leicht für die Kante */
    0 10px 15px -5px rgba(0, 0, 0, 0.08); /* Tieferer, weicher Schatten */
}
.header_title a{
    margin-left: 20px;
    text-decoration: none;
    
}

.container div.menu {
    grid-area:menu;
    background-color: white;
    box-shadow: 
    0 1px 3px rgba(0, 0, 0, 0.05), /* Sehr leicht für die Kante */
    0 10px 15px -5px rgba(0, 0, 0, 0.08); /* Tieferer, weicher Schatten */
    padding: 20px;
    min-height: 100vh;
}

.container div.menu .nav_item a {
    text-decoration: none;
}
.container div.conent {
    grid-area: content;
}


.total_summe, .betrag {
    text-align: right;
    text-decoration: 0.5px double black;
}

details p {
    margin: 0;
}

details p a {
    text-decoration: none;
    margin: 0;
    margin-left: 20px;
    color: grey;
}

details > summary {
  /* Entfernt den Standard-Marker/das Standard-Icon */
  list-style: none;
  font-weight: bold;
}

details > summary::marker,
details > summary::-webkit-details-marker {
  /* Stellt sicher, dass das Icon auch in Webkit-Browsern entfernt wird */
  display: none;
  content: "";
}

details > summary {
  cursor: pointer; /* Zeigt an, dass es anklickbar ist */
  padding: 5px;
  position: relative; /* Wichtig für die Positionierung des Icons */
}

/* Stil für das Icon, wenn der Inhalt eingeklappt ist (Standard) */
details > summary::before {
  content: ">"; /* Das Symbol für "eingeklappt" */
  font-weight: bold;
  margin-right: 10px;
  /* Weitere Styling-Optionen (Farbe, Größe, etc.) */
  color: #007bff;
}

/* Stil für das Icon, wenn der Inhalt AUSGEKLAPPT ist */
details[open] > summary::before {
  content: "-"; /* Das Symbol für "ausgeklappt" */
}

.aktion {
    text-align: right;
}

.add_form {
    margin-top: 20px;
}

.add_form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 12pt;
    width: 50%;
}

/*Button*/
button {
    all: unset;
}

.btn {
    border:0.5px solid black;
    color: #1f1f1f;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5;
    height: 25px;
    width: 80px;
    font-size: 12pt;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 20px;
}